@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.footer {
  background-color: $color-grey-dark-2;
  text-align: center;
  color: $color-white;
  padding: 4rem;

  &__created {
    color: $color-react-2;
    font-size: 2rem;
  }

  &__contact {
    &--github {
      text-decoration: none;
      color: $color-react-2;
    }

    &--title {
      font-size: 2rem;
      margin-top: 1rem;
    }

    &--details {
      font-size: 1.5rem;
      list-style: none;
    }
  }
}
