@import "../utils/variables.scss";

@mixin center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin default-shadow {
  box-shadow: 0.5rem 1.5rem 2rem
    rgba($color-black, 0.3);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    padding-top: ($height / $width) * -100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// MEDIA QUERIES

// 0-600
// 600-900
// 900-1200
// 1800+

@mixin media($size) {
  @if $size == big-screen {
    @media (min-width: 2000px) {
      @content;
    }
  }
  @if $size == super-screen {
    @media (min-width: 2560px) {
      @content;
    }
  }
  @if $size == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $size == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $size == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
}
