$color-sass-1: rgb(180, 50, 197);
$color-sass-2: rgb(0, 94, 202);

$color-react-1: rgb(47, 147, 172);
$color-react-2: rgb(71, 130, 145);

$color-node-1: rgb(11, 158, 77);
$color-node-2: rgb(94, 116, 105);

$color-white: rgb(221, 218, 218);

$color-black: rgb(19, 19, 19);

$color-grey-light: rgb(135, 142, 158);
$color-grey-dark: rgb(119, 130, 151);
$color-grey-dark-2: rgb(44, 44, 44);
